<form (ngSubmit)="addCoachReg()" class="form-card" >
    <h2>Inscrire</h2>
    <div class="form-group">
        <p>Choisir une catégorie</p>
        <div>
            <input type="radio" id="cuisine" name="cuisine" value="cuisine" [(ngModel)]="newCoach.categorie" checked>
            <label for="cuisine">cuisine</label>
          </div>
          <div>
            <input type="radio" id="sport" name="sport" value="sport" [(ngModel)]="newCoach.categorie">
            <label for="sport">sport</label>
          </div>
          <div>
            <input type="radio" id="esport" name="esport" value="esport" [(ngModel)]="newCoach.categorie">
            <label for="esport">esport</label>
          </div>
          <div>
            <input type="radio" id="bricolage" name="bricolage" value="bricolage" [(ngModel)]="newCoach.categorie">
            <label for="bricolage">bricolage</label>
          </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="newCoach.email" name="email" required="required">
    </div>
    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" id="login" [(ngModel)]="newCoach.login" name="login" required="required">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" [(ngModel)]="newCoach.password" name="password" required="required">
    </div>
    <div class="action-buttons">
    <button Inscription type="submit" *ngIf="newCoach.password.length !=0" >Inscription</button>
    </div>
</form>
