<html>
  <head>
    <title>Mon Profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Mon Profil</h2>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Informations du compte</h4>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Login:</strong> {{this.user.login}}</p>
              <p><strong>Mot de passe:</strong> {{this.user.password}}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Adresse e-mail:</strong> {{this.user.email}}</p>
              <p><strong>Catégorie:</strong> {{this.user.categorie}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>






