<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink=''>Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" ariaexpanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/home'>Moi je suis coach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/register'>Devenir Coach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/login-coach'>Login</a>
            </li>
        </ul>
    </div>
</nav>