<br>

<h1 class="text-center">Choisir la catégorie de votre coach :</h1>

<br>
<br>
<br>

<div class="row">
    <div class="card mx-auto" style="width: 18rem;" (click)="goToAnotherPage('coach-sport')">
        <img class="card-img-top" src="../../assets/img/sport.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <p class="text-center">Sport</p>
            </h5>
        </div>
    </div>

    <div class="card mx-auto" style="width: 18rem;" (click)="goToAnotherPage('coach-cuisine')">
        <img class="card-img-top" src="../../assets/img/cuisine.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <p class="text-center">Cuisine</p>
            </h5>
        </div>
    </div>

    <div class="card mx-auto" style="width: 18rem;" (click)="goToAnotherPage('coach-esport')">
        <img class="card-img-top" src="../../assets/img/esport.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <p class="text-center">E-Sport</p>
            </h5>
        </div>
    </div>

    <div class="card mx-auto" style="width: 18rem;" (click)="goToAnotherPage('coach-bricolage')">
        <img class="card-img-top" src="../../assets/img/bricolage.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <p class="text-center">Bricolage</p>
            </h5>
        </div>
    </div>
</div>