<form (ngSubmit)="onSubmit()">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="category" id="sport" value="sport" [(ngModel)]="selectedCategory">
      <label class="form-check-label" for="sport">
        Sport
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="category" id="esport" value="esport" [(ngModel)]="selectedCategory">
      <label class="form-check-label" for="esport">
        Esport
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="category" id="cuisine" value="cuisine" [(ngModel)]="selectedCategory">
      <label class="form-check-label" for="cuisine">
        Cuisine
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="category" id="bricolage" value="bricolage" [(ngModel)]="selectedCategory">
      <label class="form-check-label" for="bricolage">
        Bricolage
      </label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
  
  <div *ngIf="(coaches$ | async)">
    <ul>
      <li *ngFor="let coach of coaches$ | async">
        {{coach.email}}
      </li>
    </ul>
  </div>